@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root {
    --primary-color: #00bda7;
    
}

* {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
}

header {
    height: 500px;
    background-image: url('/public/media/header-image.png');
    background-position: center -410px;
    width: 100vw;
    margin-left: calc(50% - 50vw) !important;
    margin-top: -10px!important;  
}

@media screen and (max-width: 991px) {
    header {
        background-position: center bottom;
    }
}

.history-section {
    
    margin-left: calc(50% - 45vw) !important;
    margin-right: calc(50% - 45vw) !important;
    
}

.position-main {
    margin-top: -51px;
}

.card-title {
    height: 70px;
}

.navbar-brand, h1, h2, h3 {
    font-family: 'Pacifico', cursive;
}

.text-extramuted {
    font-size: small!important;
    opacity: 0.5;    
}

.text-extramuted:hover {
    opacity: 1;
    color: var(--primary-color)!important;
}

.card-link {
    text-decoration: none;
    transition: color 150ms ease-in-out;
   
}

.card-link:hover {
    color: var(--primary-color);
    
}

.eye-psw-button {
    width: 50px;
}

.see-all {
    color: var(--primary-color);
    text-decoration: none;
}

.see-all:hover{
    background-color: rgba(0, 189, 167, 0.1);
}

nav li {
    text-decoration: none;
}

.category-link {
    text-decoration: none;
    color: black;
    opacity: 75%;
}

.card-transparent {
    background-color: rgba(255, 255, 255, 0.75)!important;
    color: black !important;
}

.img-preview {
    height: 150px;
    width: 150px;
    
}

.img-container {
    min-height: 160px;
    
}

.proportional {
    max-width: 100%;
    height: auto;
}

.min-screen {
    min-height: calc(100vh - 90px);
}

.small-preview {
    width: 50px; 
    height: auto;
}

/* swiper */
.custom-h {
    height: 410px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;    
    height: 445px !important;
}

.swiper-button-next, .swiper-button-prev {
    color: var(--primary-color)!important;
    width: 35px!important;
    height: 35px!important;
    
}

.swiper-button-next {
    transform: translateX(55%);
}

.swiper-button-prev {
    transform: translateX(-55%);
}

.swiper-button-next::after, .swiper-button-prev::after {
    font-size: 30px!important; /* Riduci la dimensione del font dell'icona */
}

.swiper-button-disabled {
    display: none !important;
}

